<!-- views/nav.html -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KeezaTech</title>



<!-- Link to your CSS stylesheet (ensure it exists) -->
<link rel="stylesheet" href="/styles/style.css">

<!-- AOS (Animate On Scroll) Library -->
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

<!-- Bootstrap Icons (for icons used in the hero section) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<header>
    <nav>
        <a href="/">
      <div class="logo">
        
          <!-- Add your logo image here -->
          <img src="/images/Keeza_logo_white.png" alt="KezaTech Logo">
        
      </div>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Research</a>
          <div class="dropdown-content">
            <a href="/projects">Projects</a>
            <a href="/publications">Publications</a>
            <a href="/team">Team</a>
            
            
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  